# ===============================================================
# [Common] 애플리케이션 공통 설정
# ===============================================================
spring:
  application:
    name: application # 프로젝트 식별 이름 (로그나 모니터링 시 사용)

  profiles:
    active: dev # 별도 설정이 없을 때 'application-dev.yml'을 기본으로 읽어옴

  # 뷰 엔진(Thymeleaf) 설정
  thymeleaf:
    prefix: classpath:/templates/ # HTML 파일이 위치할 기본 경로
    suffix: .html                 # 컨트롤러가 리턴할 파일의 확장자
    encoding: UTF-8               # 렌더링 시 한글 깨짐 방지
    cache: false                  # 개발 시에는 HTML 수정 후 새로고침 시 즉시 반영되도록 캐시를 끔

  # 메시지 소스 설정
  messages:
    encoding: UTF-8               # 다국어 처리나 공통 메시지 파일 읽을 때 한글 인코딩 보장

  # 메일 설정 (Gmail SMTP)
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# ===============================================================
# [Server] 내장 WAS 설정
# ===============================================================
server:
  port: 8080 # 서버가 실행될 포트 번호

# ===============================================================
# [Custom] 사용자 정의 설정 (자바 코드에서 읽어 사용)
# ===============================================================
app:
  jwt:
    access-token-expiration: ${JWT_ACCESS_EXPIRATION:1800000}
    refresh-token-expiration: ${JWT_REFRESH_EXPIRATION:604800000}