<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <script th:src="@{/js/auth.js}"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container d-flex justify-content-center align-items-center flex-direction-column">
        <div class="col-lg-6 col-12 my-5">
            <div class="w-100">
                <h1 class="fw-bold mb-4 text-center">회원가입</h1>

                <div class="card">
                    <div class="card-body">
                        <form id="registerForm">
                            <div class="mb-3">
                                <label class="form-label" for="name">이름 <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name" name="userName" placeholder="이름을 입력해주세요." required >
                                <div class="invalid-feedback" id="nameError"></div>
                                <div class="valid-feedback" id="nameSuccess"></div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">비밀번호 <span class="text-danger">*</span></label>
                                <input class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요 (8자리 이상)."
                                       required type="password">
                                <div class="invalid-feedback" id="passwordError"></div>
                                <div class="valid-feedback" id="passwordSuccess"></div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="confirmPassword">비밀번호 재확인 <span class="text-danger">*</span></label>
                                <input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="비밀번호를 다시 입력해주세요."
                                       required type="password">
                                <div class="invalid-feedback" id="confirmPasswordError"></div>
                                <div class="valid-feedback" id="confirmPasswordSuccess"></div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="email">이메일 <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" name="userEmail" placeholder="example@email.com" required >
                                <div class="invalid-feedback" id="emailError"></div>
                                <div class="valid-feedback" id="emailSuccess"></div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="userPhoneNumber">전화번호 <span class="text-danger">*</span></label>
                                <input class="form-control" id="userPhoneNumber" name="userPhoneNumber" type="tel" placeholder="010-1234-5678" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="userBirthDate">생년월일 <span class="text-danger">*</span></label>
                                <input class="form-control" id="userBirthDate" name="birthDate" type="date" placeholder="YYYY-MM-DD" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="userJob">직업 <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="userJob" name="job" placeholder="직업" required>
                            </div>

                            <button id="formBtn" class="btn btn-primary w-100 mt-5" type="submit">회원가입</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>