<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/global.css}">

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap/bootstrap.min.css}">
    <script th:src="@{/assets/bootstrap/bootstrap.bundle.min.js}"></script>

    <!-- jQUery -->
    <script th:src="@{/assets/jQuery/jquery-3.7.1.min.js}"></script>

    <!-- common.js -->
    <script th:src="@{/js/common.js}"></script>
    <!-- api.js -->
    <script th:src="@{/js/api.js}"></script>


</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="flex-shrink-0">
        <section>
            <div layout:fragment="content"></div>
        </section>
    </main>
    <div class="mt-auto" th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>